<script lang="ts">
    export let onInput = undefined;
    export let onKeyDown = undefined;
    export let placeholder = undefined;
    export let value = '';
    export let required = undefined;
</script>

<input
    data-testid="input"
    type="text"
    {required}
    {value}
    {placeholder}
    on:input={onInput}
    on:keydown={onKeyDown}
>

<style lang="scss">
    $background-color: #3798D4;

    input {
        outline: 0;
        border: 3px solid darken($background-color, 10%);
        height: 50px;
        padding: 12px;
        font-size: 1rem;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
        caret-color: darken($background-color, 0%);
        transition: all 100ms;

        &:focus,
        &:hover {
            box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.3);
        }
    }
</style>