<script lang="ts">
    import {EButtonColor} from "./enums";

    export let onClick = undefined;
    export let color: EButtonColor | '' = '';
    export let style = undefined;

    const handleKeyDown = (event: KeyboardEvent) => {
        if (event.key === 'Enter' && typeof onClick === 'function') {
            onClick();
        }
    };
</script>

<button data-testid="button" {style} class={color} on:click={onClick} on:keydown={handleKeyDown}>
    <slot></slot>
</button>

<style lang="scss">
    $orange: #FB876E;

    button {
        outline: 0;
        display: inline-block;
        height: 50px;
        padding: 16px 20px;
        border: 0;
        border-radius: 5px;
        font-size: 1rem;
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
        transition: all 100ms;

        &:hover, &:focus {
            transform: translate3d(0, -1px, 0);
            box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.3);
        }

        &:active {
            transform: translate3d(0, 1px, 0);
            box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
        }

        &.orange {
            background-color: $orange;
            color: white;

            &:hover, &:focus {
                background-color: darken($orange, 10%);
            }

            &:active {
                background-color: darken($orange, 20%);
            }
        }
    }

</style>