<script lang="ts">
    import {isWindows, scrollBarPaddingCompensationStyle} from "./constants";

    let messageList;
    let hasScroll;
    let clientHeight = undefined;

    $: hasScroll = (messageList?.scrollHeight > clientHeight);

</script>

<div
    data-testid="message-list"
    style={(hasScroll && isWindows) ? scrollBarPaddingCompensationStyle : ""}
    class="message-list"
    bind:clientHeight={clientHeight}
    bind:this={messageList}
>
    <slot/>
</div>

<style lang="scss">
    .message-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        width: 100%;
        max-height: calc(100vh - 70px);
        padding: 16px 10%;
        box-sizing: border-box;
        overflow: auto;
    }
</style>