<script lang="ts">
    import {getHumanReadableDate} from "../../utilities";

    export let author = '';
    export let message = '';
    export let timestamp = undefined;
    export let own = false;
</script>

<div data-testid="message" class={`message ${own ? "own" : ""}`}>
    <span class="author">{author}</span>
    {#if author}<br>{/if}
    <span class="message-text">{message}</span>
    {#if timestamp}<br>{/if}
    <span class="date">{getHumanReadableDate(timestamp)}</span>
</div>

<style lang="scss">
    .message {
        padding: 16px;
        border: 2px solid lightgrey;
        border-radius: 5px;
        background-color: #fff;
        max-width: 516px;
        box-sizing: border-box;
        align-self: flex-start;
        overflow-wrap: break-word;
        margin-bottom: 16px;

        &.own {
            align-self: flex-end;
            background-color: #FCF6C4;
        }
    }

    .date, .author {
        opacity: 0.5;
        font-size: 0.875rem;
    }

    .message-text {
        margin: 8px 0;
        display: inline-block;
    }

    @media (min-width: 1400px) {
        .message {
            align-self: flex-end;
        }
    }
</style>