<footer>
    <slot/>
</footer>

<style lang="scss">
    $background-color: #3798D4;

    footer {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70px;
        padding: 0 10%;
        align-items: center;
        box-sizing: border-box;
        background-color: $background-color;
    }

    @media (min-width: 576px) {
        footer {
            border-radius: 5px;
        }
    }
</style>