<script lang="ts">
    import "reset-css";
    import {onMount, tick} from 'svelte';
    import {Footer, Button, EButtonColor, Input, MessageList, Message} from "./components";
    import {MessagesAPI} from "./api/MessagesAPI";
    import type {IMessage} from "./models";
    import {getClientModelMessageList} from "./utilities";

    let userName: string;
    let message = '';
    let messageList: IMessage[] = [];
    let clientModelMessageList: IMessage[];

    const scrollToLastMessage = (options?: ScrollIntoViewOptions) => {
        const messageListElement = document.querySelector('.message:last-of-type');

        if (messageListElement) {
            messageListElement.scrollIntoView(options);
        }
    };

    const handleInput = (event: KeyboardEvent) => {
        message = (event.target as HTMLInputElement).value;
    };

    const submit = async () => {
        if (message && userName) {
            let newMessage: IMessage;

            try {
                newMessage = await MessagesAPI.send(message, userName);
                messageList = [...messageList, newMessage];
                message = '';
                await tick();
                scrollToLastMessage({behavior: "smooth"});
            } catch (error) {
                console.error('failed message submit: ', error);
            }

        } else {
            console.error('failed message submit: message field is required, user name is required');
        }
    };

    onMount(async () => {
        messageList = await MessagesAPI.fetchAll();
        userName = window.prompt('enter your nickname, please:') || 'Anonymous';
        await tick();
        scrollToLastMessage();
    });

    $: clientModelMessageList = [...getClientModelMessageList(messageList)];
</script>

<main>
    <div class="container">
        <MessageList>
            {#each clientModelMessageList as message}
                <Message own={message.author === userName && userName !== 'Anonymous'} {...message}/>
            {/each}
        </MessageList>
        <Footer>
            <form on:submit|preventDefault>
                <Input
                    required
                    value={message}
                    onInput={handleInput}
                    placeholder="Message"
                />
                <Button
                    style="margin-left: 20px"
                    color={EButtonColor.ORANGE}
                    onClick={submit}
                >
                    Send
                </Button>
            </form>
        </Footer>
    </div>
</main>

<style lang="scss">
    :root {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    :global(body) {
        background: url("./assets/background.png") repeat;
    }

    .container {
        position: relative;
        height: 100vh;
        margin: auto;
    }

    form {
        display: flex;
        width: 100%;
    }

    @media (min-width: 576px) {
        .container {
            max-width: 540px;
        }
    }

    @media (min-width: 768px) {
        .container {
            max-width: 720px;
        }
    }

    @media (min-width: 992px) {
        .container {
            max-width: 960px;
        }
    }

    @media (min-width: 1200px) {
        .container {
            max-width: 1140px;
        }
    }

    @media (min-width: 1400px) {
        .container {
            max-width: 1320px;
        }
    }

</style>
